.b {
	height: 40px;
	margin-top: 20px;
}

.cb {
	display: inline-block;
	color: gray;
	font-size: 20px;
	font-family: Arial;
	width: 85%;
	margin-left: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.home {
	display: inline-block;
	font-size: 15px;
	margin-left: 10px;
}

a {
	text-decoration: none;
	color: gray;
}

#search {
	font-size: 15px;
	color: gray;
	margin-right: 20px;
}

.title {
	height: 120px;
	margin-top: 7px;
	background-color: #f6f6f6;
	border-top: 1px solid #DCDCDC;
}

.titlecb {
	font-size: 50px;
	font-family: Arial;
	font-weight: bold;
}

.margin-left-20-porcent {
	margin-left: 18%;
}

.description {
	font-size: 20px;
	font-family: Arial;
}

.content_for_search {
	margin-left: 20px;
	color: black;
}

#button_1 {
	width: 90px;
	height: 30px;
	background-color: red;
	text-align: center;
	border-radius: 10px;
	color: white;
}

#button_2 {
	width: 90px;
	height: 30px;
	background-color: red;
	color: white;
	text-align: center;
	border-radius: 15px;
}

#button_3 {
	width: 90px;
	height: 30px;
	background-color: red;
	color: white;
	text-align: center;
	border-radius: 15px;
}

#button_4 {
	width: 90px;
	height: 30px;
	background-color: red;
	color: white;
	text-align: center;
	border-radius: 15px;
}

.titulo {
	cursor: pointer;
	color: black;
	font: oblique bold 300% cursive;
	margin-top: 7;
}

.comment_area {
	margin-top: 12px;
	color: black;
}

#input {
	display: none;
	position: relative;
	margin-right: 20px;
	color: gray;
}
